header {
  background-color: #00302e;
  color: white;
  padding: 120px 3% 80px 4.7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-text {
  flex: 1;
}

.header-text h1 {
  font-size: 50px;
}

header a {
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #e2b887;
}

.header-text .download {
  display: flex;
  align-items: center;
}

.header-text .download img {
  width: 150px;
  margin-right: 20px;
}

.header-img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .header-text h1 {
    font-size: 30px;
    margin-top: 20px;
  }

  header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 150px 3% 60px 3%;
  }

  br {
    display: none;
  }

  .header-text .download {
    display: flex;
    align-items: center;
  }

  .header-text .download img {
    width: 150px;
    display: block;
    margin: auto;
  }

  .header-text .download .google {
    margin-right: 10px;
  }

  .header-text .download .apple {
    margin-left: 10px;
  }
  header a {
    display: block;
    width: 120px;
    margin: auto;
  }
}
/* CSS */
.owl-carousel .slow-slide-right-in {
  animation-name: slowSlideRightInAnimation;
  animation-duration: 2s; /* Adjust the duration as needed */
  /* You can also customize other animation properties such as timing function, delay, etc. */
}

.owl-carousel .slow-slide-left-out {
  animation-name: slowSlideLeftOutAnimation;
  animation-duration: 2s; /* Adjust the duration as needed */
  /* You can also customize other animation properties such as timing function, delay, etc. */
}

/* Define the slow slide-in animation from the right */
@keyframes slowSlideRightInAnimation {
  0% {
    transform: translateX(100%); /* Start off-screen on the right */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* Slide in from the right */
    opacity: 1;
  }
}

/* Define the slow slide-out animation to the left */
@keyframes slowSlideLeftOutAnimation {
  0% {
    transform: translateX(0); /* Slide out to the left from the center */
    opacity: 1;
  }
  100% {
    transform: translateX(-100%); /* Move off-screen to the left */
    opacity: 0;
  }
}
